<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hicc.cloud">

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".teacher.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--登录界面-->
        <activity android:name=".teacher.activity.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主页-->
        <activity android:name="com.hicc.cloud.teacher.activity.MainActivity"/>

        <!--请销假-->
        <activity android:name=".teacher.activity.LeaveBackActivity"/>
        <!--课堂签到-->
        <activity android:name=".teacher.activity.ClassCheckActivity"/>
        <!--学生社团-->
        <activity android:name=".teacher.activity.StudentCommunityActivity"/>
        <!--班级成长-->
        <activity android:name=".teacher.activity.ClassGrowUpActivity"/>
        <!--学生缴费-->
        <activity android:name=".teacher.activity.PaymentActivity"/>
        <!--宿舍成绩-->
        <activity android:name=".teacher.activity.DormitoryScoreActivity"/>
        <!--学生档案-->
        <activity android:name=".teacher.activity.StudentProfileActivity"/>
        <!--学生成绩-->
        <activity android:name=".teacher.activity.StudentMarkActivity"/>
        <!--全部页面-->
        <activity android:name=".teacher.activity.AllActivity"/>

        <!--摇一摇-->
        <activity android:name=".teacher.activity.ShakeActivity"/>
        <!--扫一扫-->
        <activity android:name=".teacher.activity.ScanActivity"/>
        <!--扫一扫结果页面-->
        <activity android:name=".teacher.activity.ScanResultActivity"/>

        <!--网上报到-->
        <activity android:name=".teacher.activity.ColumnChartActivity"/>
        <!--现场报到-->
        <activity android:name=".teacher.activity.PieChartActivity"/>


        <service android:name=".teacher.service.UpdataService"/>

    </application>

</manifest>